body {
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 70px;
}

.meats {
    text-align: center;
}

img {
    position:relative;
    height: 400px;
    width: 400px;
    display:block;
}

h3 {
    text-align: center;
    color: chocolate;
}

 li {
    list-style: none;
 }

 .contacts {
    display: flex;
    justify-content: space-evenly;
 }